.nav-container {
  display: flex;
  padding: 20em 3em;
  flex-direction: column;
  justify-content: flex-start;
  background-color: darkgoldenrod;
}

ul {
  padding: 0px;
  list-style: none;
}

li > a {
  color: black;
  padding: 0.8em;
  text-align: center;
  background-color: burlywood;
  text-decoration: none;
  cursor: pointer;
}

li > a:hover {
  cursor: pointer;
}
