.nav-container {
  display: flex;
  padding: 18.6em 3em;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #9bc2cf;
}

ul {
  padding: 0px;
  list-style: none;
}

ul > li {
  color: black;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

ul > li:hover {
  cursor: pointer;
}
